{% extends 'tech/basic.html'%}
{% block title %}Accepted Tasks{% endblock %}
{% block body %}
<div class="container">
    <h3 class="top_heading">Accepted Tasks</h3>
    <div class="col-md-12 col-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-primary table-striped">
              <tbody>
                <tr>
                  <th>S.no</th>
                  <th>Task Title</th>
                  <th>Create_date</th>
                  <th>Status</th>
                  <th>Task Status</th>
                  <th>View</th>
                </tr>
                {% for task in tasks %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{task.task.task_title}}</td>
                  <td>{{task.date|date:"d-m-Y"}}</td>
                  <td>{{task.status.title}}</td>
                  <td>{{task.task_status.title}}</td>
                  <td><a href="/tech/task_details/?task_id={{task.task.id}}"><i class="bi bi-eye"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}