{% extends 'tech/basic.html'%}
{% block title %}Create Task{% endblock %}
{% block body %}
  <div class="container">
    <h3 class="top_heading">Create Task</h3>
      <form action="/tech/create_task/" method="POST" class="large_form">
        {% csrf_token %} 
        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="exampleInputEmail1" class="form-label">Assigned To</label>
            <select name="assigned_to" class="form-select" aria-label="Default select example">
              {% for leader in team_leader %}
                  <option value="{{leader.id}}" selected>{{leader.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="exampleInputEmail1" class="form-label">Institute</label>
            <input type="text" class="form-control" name="institute">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="exampleInputEmail1" class="form-label">Task Title</label>
            <input type="text" class="form-control" name="task_title">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="exampleInputEmail1" class="form-label">Task Description</label>
            <textarea class="form-control" rows="6" name="task_description"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="exampleInputEmail1" class="form-label">Task Due Date</label>
            <input type="datetime-local" class="form-control" name="due_date">
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-12 btn_section">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
      </form>
  </div>

  {% endblock %}
