{% extends 'tech/basic.html'%}
{% block title %}Task Details{% endblock %}
{% block body %}
<div class="container details_top">
  <button id="show" class="btn btn-dark">Show Task Details</button>
  <button id="hide" class="btn btn-dark">Hide Task Details</button>
</div>

<div class="container" id="task_details" style="display: none;">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th scope="row">Worked By</th>
        <td class="w-75">
          {% for developer in developers %}
            <span>{{developer.name}} ------{{developer.typeTech}}</span><br>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th scope="row">Institute</th>
        <td class="w-75">{{task.institute}}</td>
      </tr>
      <tr>
        <th scope="row">Task Title</th>
        <td class="w-75">{{task.task_title}}</td>
      </tr>
      <tr>
        <th scope="row">Task Description</th>
        <td class="w-75">{{task.task_description|default_if_none:''}}</td>
      </tr>
      <tr>
        <th scope="row">Creation Date</th>
        <td class="w-75">{{task.create_date|date:'Y-m-d H:i'}}</td>
      </tr>
  
      <tr>
        <th scope="row">Due Date</th>
        <td class="w-75">{{task.due_date|date:'Y-m-d H:i'}}</td>
      </tr>
      <tr>
        <th scope="row">Team Leader Instructions</th>
        <td class="w-75">{{task.additional_details|default_if_none:''}}</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td class="w-75">{{task.project_status}}</td>
      </tr>
    </tbody>
    </table>	
  </div>   
</div>
<hr class="details_hr">
{% if request.user.techperson.typeTech == "Team Leader" %}
  <div class="container">
    <div class="col-md-12 col-12 col-sm-12 search_box">
      <form action="/tech/task_details/" method="POST">
        {% csrf_token %}
        <input name="task_id" type="hidden" value="{{task.id}}">
        <div class="row">
          <div class="mb-3 col-md-3">
            <select name="developer_id" class="form-select" aria-label="Default select example">
              <option value="all">All</option>
              {% for developer in developers %}
              <option value="{{developer.id}}">{{developer.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3 col-md-9"><button type="submit" class="btn btn-dark">Submit</button></div>
        </div>
      </form>
    </div>
    <div class="col-md-12 col-12 col-sm-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Developer</th>
              <th scope="col">User Status</th>
              <th scope="col">Task Status</th>
              <th scope="col">Date</th>
              <th scope="col">View</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            {% for user_task in assigned_developer_report %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td class="w-25">{{user_task.developer.name}}</td>
              <td class="w-25">{{user_task.status}}</td>
              <td class="w-25">{{user_task.task_status}}</td>
              <td class="w-25">{{user_task.date|date:"d-m-Y"}}</td>
              <td class="w-25">
                <a href="#" data-toggle="modal" data-target="#report{{user_task.id}}" class="themesflat-button bg-accent"><i class="bi bi-eye"></i></a>
                <div class="modal fade test" id="report{{user_task.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header text-center">
                              <h4 class="modal-title w-100 font-weight-bold"><b>Report Details</b></h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <table class="table table-bordered popup_table">
                            <tr>
                              <th scope="row">Task Title</th>
                              <td class="w-50">{{user_task.task.task_title}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Developer Query</th>
                              <td class="w-50">{{user_task.developer_issues|default_if_none:''}}</td>
                            </tr>
                        </table>
                      </div>
                  </div>
                </div>
              </td>
              <td><a href="/tech/delete_developer_task/{{user_task.id}}/{{task.id}}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container mid_box">
    <div class="col-md-12 col-12 col-sm-12 btn_box">
      <button type="button" class="btn btn-danger" id="btn1" onclick="show_reports('my_reports')">My Reports</button>
      <button type="button" class="btn btn-dark" id="btn2" onclick="show_reports('all_reports')">All Reports</button>
      <button type="button" class="btn btn-success">Accept Task</button>
      <a href="#" data-toggle="modal" data-target="#modalContactForm" class="themesflat-button bg-accent"><button type="button" class="btn btn-dark" id="btn3">Add</button></a>
    </div>
    <div class="col-md-12 col-12 col-sm-12" id="developer_reports" style="display:none;" >
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Developer</th>
            <th scope="col">User Status</th>
            <th scope="col">Task Status</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
          </tr>
          </thead>
          {% for user_task in assigned_developer_report %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td class="w-25">{{user_task.developer.name}}</td>
            <td class="w-25">{{user_task.status}}</td>
            <td class="w-25">{{user_task.task_status}}</td>
            <td class="w-25">{{user_task.date|date:"d-m-Y"}}</td>
            <!-- <td class="w-25"><a href="/tech/task_details/{{user_task.id}}"><i class="bi bi-eye"></i></a></td> -->
            <td class="w-25">
              <a href="#" data-toggle="modal" data-target="#otherreport{{user_task.id}}" class="themesflat-button bg-accent"><i class="bi bi-eye"></i></a>
              <div class="modal fade test" id="otherreport{{user_task.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold"><b>Report Details</b></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <table class="table table-bordered popup_table">
                          <tr>
                            <th scope="row">Task Title</th>
                            <td class="w-50">{{user_task.task.task_title}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Developer Query</th>
                            <td class="w-50">{{user_task.developer_issues|default_if_none:''}}</td>
                          </tr>
                      </table>
                    </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </div>
    <div class="col-md-12 col-12 col-sm-12" id="my_reports" >
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Developer</th>
            <th scope="col">User Status</th>
            <th scope="col">Task Status</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          {% for user_task in individual_developer_report %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td class="w-25">{{user_task.developer.name}}</td>
            <td class="w-25">{{user_task.status}}</td>
            <td class="w-25">{{user_task.task_status}}</td>
            <td class="w-25">{{user_task.date|date:"d-m-Y"}}</td>
            <td class="w-25">
              <a href="#" data-toggle="modal" data-target="#selfreport{{user_task.id}}" class="themesflat-button bg-accent"><i class="bi bi-eye"></i></a>
              <div class="modal fade test" id="selfreport{{user_task.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold"><b>Report Details</b></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <table class="table table-bordered popup_table">
                          <tr>
                            <th scope="row">Task Title</th>
                            <td class="w-50">{{user_task.task.task_title}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Developer Query</th>
                            <td class="w-50">{{user_task.developer_issues|default_if_none:''}}</td>
                          </tr>
                      </table>
                    </div>
                </div>
              </div>
            </td>
            <td class="w-25"><a href="/tech/delete_developer_task/{{user_task.id}}/{{request.GET.task_id}}"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endif %}

<!-- start popup for add user report -->
<div  class="modal fade test" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold"><b> Add New Report</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/tech/add_report/{{task.id}}" method="POST">
                {% csrf_token %}
                <div class="modal-body mx-3">
                    <div class="md-form my-2 mb-5 ">
                        <label data-error="wrong" data-success="right" for="form34">User Status</label>
                        <select class="form-select" name="user_status" aria-label="Default select example" required>
                          <option value="">select</option>
                          {% for status in user_status %}
                              <option value="{{status.id}}">{{status.title}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="md-form mb-5 ">
                        <label data-error="wrong" data-success="right" for="form34">Task Status</label>
                        <select class="form-select" name="task_status" aria-label="Default select example" required>
                          <option value="">select</option>
                          {% for status in task_status %}
                              <option value="{{status.id}}">{{status.title}}</option>
                          {% endfor %}
                        </select>
                    </div> 
                    <div class="md-form mb-5 ">
                      <label data-error="wrong" data-success="right" for="form34">User Query</label>
                      <textarea  class="form-control validate" rows="3"  name="user_query" placeholder="Enter your query..."></textarea>
                  </div>   
                </div>
                <div class="modal-footer d-flex justify-content-center ">
                    <button type="submit" class="btn btn-unique btn-success"><strong>Submit</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- pop end -->
<script>
  $(document).ready(function(){
    $("#hide").click(function(){
      $("#task_details").hide();
    });
    $("#show").click(function(){
      $("#task_details").show();
    });
  });
</script>

<script>
  function show_reports(type){
    if(type == 'my_reports'){
      $('#my_reports').show()
      $('#developer_reports').hide()

      $("#btn1").removeClass("btn-secondary");
      $("#btn1").addClass("btn-primary");

      $("#btn2").removeClass("btn-primary");
      $("#btn2").addClass("btn-secondary");  
    }
    else{
      $('#developer_reports').show()
      $('#my_reports').hide()

      $("#btn1").removeClass("btn-primary");
      $("#btn1").addClass("btn-secondary");
      
      $("#btn2").removeClass("btn-secondary");
      $("#btn2").addClass("btn-primary");
    }
  }
</script>
  
{% endblock %}
