{% extends 'sales/base.html'%}
{% block title %}Feedback and Demo's{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  .features_table h1 {
    font-size: 25px !important;

  }

  li {
    list-style: none;
  }

  h1 {
    font-size: 21px !important;
  }

  .features-table li {
    background: #da9748 none repeat scroll 0 0;
    border-bottom: 2px solid #e5a253;
    color: #f1f1f1;
    font-size: 16px;
    padding: 15px 24px;
  }

  .features-table li:hover {
    background: #e5a253;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }

  .features-table-free li,
  .features-table-paid li {
    background: #efefef none repeat scroll 0 0;
    border-bottom: 2px solid #d4d4d4;
    text-align: center;
    padding: 16.4px 21px;
  }

  .features-table-free h1,
  .features-table-paid h1 {
    text-align: center;
  }

  .features-table-free li:hover,
  .features-table-paid li:hover {
    background: #dedede none repeat scroll 0 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }

  .features_table h1 {
    font-size: 23px !important;
  }

  .features-table h1,
  .features-table-free h1,
  .features-table-paid h1 {
    background: #6b6b6b none repeat scroll 0 0;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 19px 21px;
    text-transform: uppercase;
  }

  .features-table h1 {
    border-top-left-radius: 20px;
    text-align: center;
  }

  .features-table-paid h1 {
    border-top-right-radius: 20px;
  }

  .features-table-free li {
    border-right: 2px solid #d4d4d4;

  }

  .fa.fa-check {
    color: #2cc14f;
  }

  .fa.fa-times {
    color: #BA5340;
  }

  .fa {
    font-size: 30px;
  }

  .no-padding {
    padding: 0;
  }

  ul {
    padding: 0;
  }

  body {
    counter-reset: section;
    /* Set the section counter to 0 */
  }

  .fortext {
    font-size: 15px;
  }
</style>
<h3 style="text-align: center; font-family: serif;">Feedbackes and Demos</h3>
{% if feedbackes_SpecificLeadWise.0.lead.lead_status == 'is_successfull_lead' or feedbackes_SpecificLeadWise.0.lead.lead_status == 'worked_lead' %}
<div style="text-align: center;">
  <a href="/sales/feedback_creating/?lead_id={{request.GET.lead_id}}"><button
      style="border-radius: 0.5ch; height: 30px; background: aliceblue;">Create another feedback </button></a>
  <a href="/sales/demo_creating/?lead_id={{request.GET.lead_id}}"><button
      style="border-radius: 0.5ch; height: 30px; background: aliceblue;">Create another Demo </button></a>
</div>
{% endif %}
<section class="features_table">
  <div class="container ">
    <div class="col-md-6">
      <h3
        style="margin-left: 230px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Feedback</h3>
      {% for feedback in feedbackes_SpecificLeadWise %}
      <div class="div">
        <div class="col-sm-8 col-8 col-xs-12 no-padding" style="width: 200px;">
          <div class="features-table">
            <ul>
              <h1>Key</h1>
              <li>Type Feedback</li>
              <li>By</li>
              <li>Lead</li>
              <li>Time</li>
              <li>Rating </li>
              <li>Cource </li>
              <li>instituteType </li>
              <li>State </li>
              <li>city </li>
              <li>Is_wrongLead </li>
              <li>NextCall User</li>
              <li>NextCall Date</li>
              <li>Demo</li>
              <li>DemoDate</li>
              <li>Feedback</li>
              <li>FurtherCall</li>
              <li>Price Quoted</li>
              <li>Notes</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-2 col-xs-12 no-padding" style="width: 300px;">
          <div class="features-table-free">
            <ul>
              <h1>Data</h1>
              <li><i class="fortext">{{feedback.typeFeedBack}}</i></li>
              <li><i class="fortext">{{feedback.by}}</i></li>
              <li><i class="fortext">{{feedback.lead}}</i></li>
              <li><i class="fortext">{{feedback.time}}</i></li>
              <li><i class="fortext">{{feedback.rating}}</i></li>

              <li><i class="fortext">{{feedback.Cource}}</i></li>
              <li><i class="fortext">{{feedback.instituteType}}</i></li>
              <li><i class="fortext">{{feedback.State}}</i></li>
              <li><i class="fortext">{{feedback.city}}</i></li>
              <li><i class="fortext">{{feedback.Is_wrongLead}}</i></li>

              <li><i class="fortext">{{feedback.nextCall}}</i></li>
              <li><i class="fortext">{{feedback.nextCallDate}}</i></li>
              <li><i class="fortext">{{feedback.demo}}</i></li>
              <li><i class="fortext">{{feedback.demoDate}}</i></li>
              <li><i class="fortext">{{feedback.feedback}}</i></li>
              <li><i class="fortext">{{feedback.furtherCall}}</i></li>
              <li><i class="fortext">{{feedback.priceQuoted}}</i></li>
              <li><i class="fortext">{{feedback.notes}}</i></li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if demos_SpecificLeadWise %}
    <div class="col-md-6">
      <h3
        style="margin-left: 230px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Demos</h3>
      {% for demo in demos_SpecificLeadWise %}
      <div class="div">
        <div class="col-sm-8 col-8 col-xs-12 no-padding" style="width: 200px;">
          <div class="features-table">
            <ul>
              <h1>Key</h1>
              <li>Type Demo</li>
              <li>By</li>
              <li>Lead</li>
              <li>Time</li>
              <li>Demo Rating </li>
              <li>Demo Feedback</li>
              <li>Price Quoted</li>
              <li>NextCall User</li>
              <li>NextCall Date</li>
              <li>Extra Notes</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-2 col-xs-12 no-padding" style="width: 300px;">
          <div class="features-table-free">
            <ul>
              <h1>Data</h1>
              <li><i class="fortext">{{demo.typedemo}}</i></li>
              <li><i class="fortext">{{demo.by}}</i></li>
              <li><i class="fortext">{{demo.lead}}</i></li>
              <li><i class="fortext">{{demo.datetime}}</i></li>
              <li><i class="fortext">{{demo.demo_rating}}</i></li>
              <li><i class="fortext">{{demo.demo_feedback}}</i></li>
              <li><i class="fortext">{{demo.price_quoted}}</i></li>
              <li><i class="fortext">{{demo.demo_nextCall}}</i></li>
              <li><i class="fortext">{{demo.demo_nextCallDate}}</i></li>
              <li><i class="fortext">{{demo.extra_notes}}</i></li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock body %}