<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style>
    #intro-example {
      height: 400px;
    }

    .tagnameclr {
      color: white;
      font-size: 3ch;
      margin-left: 50px;
    }

    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }

    .maincls {
      background-color: #6c757dad;
      border-radius: 2ch;
      width: 600px;
    }

    .subcls {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary" style="background-color: 2e6da4">
      <a class="navbar-brand tagnameclr"
        style="font-size: 260%; color: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"
        href="/">Bodhi Ai</a>
      <div class="collapse navbar-collapse" style="margin-top: 8px;" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if request.user.salesexecutive %}
          <a class="nav-item nav-link tagnameclr" href="/sales/Get_my_new_leads">New Leads</a>
          <a class="nav-item nav-link tagnameclr" href="/sales/Get_my_worked_leads">Worked Leads</a>
          <a class="nav-item nav-link tagnameclr" href="/sales/Get_my_assigned_leads">Assigned Leads</a>
          <a class="nav-item nav-link tagnameclr" href="/sales/Specific_person_successfullLeads/">Successfully Leads</a>
          <a class="nav-item nav-link tagnameclr" href="/sales/Sendmassage">Message</a>
          <a class="nav-item nav-link tagnameclr" href="/sales/messagesInbox/">Inbox</a>
          {% else %}
          <a class="nav-item nav-link tagnameclr" href="/tech/Get_Mynewtask/">New task</a>
          {% endif %}
          <a href="/sales/logout">
            <button class="tagnameclr" style="background-color:whitesmoke; color: black;border-radius: 1ch; ">
              Logout
            </button>
          </a>
        </div>
      </div>
    </nav>
  </header>
  {% block body %} {% endblock body %}
  {% if messages %}
  <div class="container" style="height: 200px; position: fixed;top:500px; left: 200px; right: 200px;">
    <div class="div"
      style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message.tags }}!</strong> {{ message }}.
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</body>

</html>