
{% extends 'sales/base.html'%}
{% load humanize %}
{% block title %}Create demo {% endblock title %}
{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    body {
      /* background-image: url("https://www.teahub.io/photos/full/313-3132029_linkedin-wallpaper-wallpapersafari-background-image-for-form-in.jpg"); */
      background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
    }

    .maincls {
      background-color: wheat;
      border-radius: 5ch;
    }

    .subcls {
      margin-top: 20px;
    }

    .formfield {
      margin: 10px;
    }
    #feedbackbtnid {
      margin-left: 500px;
      margin-bottom: 10px;
    }
  </style>
  <h1 style="text-align: center; color: white;">Create Demo {{typedemo|ordinal}} Time</h1>
  <div class="container maincls" style=" margin-top: 40px;" id="all_leads">
    <div class="div subcls">
      <form action="{% url 'sales:demo_creating' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Demo rating *</label>
            <input type="number" class="form-control" name="demo_rating" required placeholder="Enter rating">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Demo feedback *</label>
            <select name="demo_feedback" required class="form-control">
              <option value="" selected>Choose...</option>
              <option value="Invalid Number">Invalid Number</option>
              <option value="Call not recieved">Call not recieved</option>
              <option value="Not Responding">Not Responding</option>
              <option value="Not Interested">Not Interested</option>
              <option value="Not Reachable">Not Reachable</option>
              <option value="Interested">Interested</option>
              <option value="Will update when needed">Will update when needed</option>
              <option value="Call back">Call back</option>
              <option value="call busy">call busy</option>
              <option value="switched off">switched off</option>
              <option value="using other application">using other application</option>
              <option value="cut call">cut call</option>
              <option value="Incoming call not available">Incoming call not available</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Extra notes</label>
            <input type="text" class="form-control" name="extra_notes" placeholder="Enter feedback">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Price quoted</label>
            <input type="text" class="form-control" name="price_quoted" placeholder="Enter feedback">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Assign DemoNextCall</label>
            <select name="demo_nextCall" class="form-control">
              <option value="" selected>Choose...</option>
              {% for user in SalesExecutiveUser %}
              <option value="{{user.id}}">{{user.executiveUser}} {{user.typeExecutive}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Next CallDate</label>
            <input type="datetime-local" class="form-control" name="demo_nextCallDate" placeholder="Enter Date">
          </div>
        </div>
        {% if request.GET.lead_id %}
        <input type="hidden" name="lead_id" value="{{request.GET.lead_id}}">
        {% endif %}
        <button type="submit" id="feedbackbtnid" class="btn btn-primary">Submit DemoFeedback</button>
      </form>
    </div>
  </div>
  {% endblock body %}
