{% extends 'sales/base.html'%}
{% block title %}New leads{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    .navcenter {
        text-align: center !important;
    }

    .panel-order .row {
        border-bottom: 1px solid #ccc;
    }

    .panel-order .row:last-child {
        border: 0px;
    }

    .panel-order .row .col-md-1 {
        text-align: center;
        padding-top: 15px;
    }

    .panel-order .row .col-md-1 img {
        width: 50px;
        max-height: 50px;
    }

    .panel-order .row .row {
        border-bottom: 0;
    }

    .panel-order .row .col-md-11 {
        border-left: 1px solid #ccc;
    }

    .panel-order .row .row .col-md-12 {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .panel-order .row .row .col-md-12:last-child {
        font-size: 11px;
        color: #555;
        background: #efefef;

    }

    .panel-order .btn-group {
        margin: 0px;
        padding: 0px;
    }

    .panel-order .panel-body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .panel-order .panel-deading {
        margin-bottom: 0;
    }
</style>
{% if leads %}
<h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Your New
    leads</h1>
<div class="container bootdey" style="margin-top: 30px;">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <strong>My New Leads </strong>
        </div>
        {% for i in leads %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <img src="{% static 'images/icon1.png' %}" class="media-object img-thumbnail" />
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/sales/feedback_creating/?lead_id={{i.id}}">
                                <div class="pull-right">
                                    <label class="label label-success">
                                        Create Feedback
                                    </label>
                                </div>
                            </a>
                            <span><strong>{{i.personName}}</strong></span><br />
                            Contact : {{i.contactPhone}} <br />
                            Email : {{i.email}} <br />

                            <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-info-sign"
                                href="/sales/Get_specific_lead_andfeedback/{{i.id}}" title="View"></a>
                            <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-earphone"
                                href="tel:{{i.contactPhone}}" title="Danger"></a>
                            <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-envelope"
                                href="mailto:{{i.email}}" title="Danger"></a>
                            <a href="https://wa.me/91{{i.contactPhone}}" class="btn btn-success btn-xs whatsapp_float" target="_blank"> <i
                                class="fa fa-whatsapp whatsapp-icon"></i></a>
                        </div>
                        <div class="col-md-12">Lead made on: {{i.date}} </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="panel-footer">Put here some note for example: bootdey si a gallery of free bootstrap snippets
                bootdeys</div> -->
    </div>
</div>
{% else %}
<img src="https://www.aclproduct.com/images/empty.png" style="display: block; margin-left: auto; margin-right: auto;"
    id="img-fluid" class="col-12">
{% endif %}
{% endblock body %}