{% extends 'sales/base.html'%}
{% block title %}lead and feedback{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .features_table h1 {
        font-size: 25px !important;

    }

    li {
        list-style: none;
    }

    h1 {
        font-size: 21px !important;
    }

    .features-table li {
        background: #da9748 none repeat scroll 0 0;
        border-bottom: 2px solid #e5a253;
        color: #f1f1f1;
        font-size: 16px;
        padding: 15px 24px;
    }

    .features-table li:hover {
        background: #e5a253;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }

    .features-table-free li,
    .features-table-paid li {
        background: #efefef none repeat scroll 0 0;
        border-bottom: 2px solid #d4d4d4;
        text-align: center;
        padding: 16.4px 21px;
    }

    .features-table-free h1,
    .features-table-paid h1 {
        text-align: center;
    }

    .features-table-free li:hover,
    .features-table-paid li:hover {
        background: #dedede none repeat scroll 0 0;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }

    .features_table h1 {
        font-size: 23px !important;
    }

    .features-table h1,
    .features-table-free h1,
    .features-table-paid h1 {
        background: #6b6b6b none repeat scroll 0 0;
        color: #fff;
        font-weight: 600;
        margin: 0;
        padding: 19px 21px;
        text-transform: uppercase;
    }

    .features-table h1 {
        border-top-left-radius: 20px;
        text-align: center;
    }

    .features-table-paid h1 {
        border-top-right-radius: 20px;
    }

    .features-table-free li {
        border-right: 2px solid #d4d4d4;

    }

    .fa.fa-check {
        color: #2cc14f;
    }

    .fa.fa-times {
        color: #BA5340;
    }

    .fa {
        font-size: 30px;
    }

    .no-padding {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    body {
        counter-reset: section;
        /* Set the section counter to 0 */
    }

    .fortext {
        font-size: 15px;
    }
</style>
<section class="features_table">
    <div class="container ">
        <div class="col-md-6">
            <h3
                style="margin-left: 230px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                lead</h3>
            <div class="col-sm-8 col-8 col-xs-12 no-padding" style="width: 200px;">
                <div class="features-table">
                    <ul>
                        <h1>key</h1>
                        <li>Lead name</li>
                        <li>Institute Name</li>
                        <li>Lead date</li>
                        <li>Contact </li>
                        <li>Email</li>
                        <li>Number Students</li>
                        <li>Location</li>
                        <li>Source</li>
                        <li>AssignedTo</li>
                        <li>Notes</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding" style="width: 300px;">
                <div class="features-table-free">
                    <ul>
                        <h1>Data</h1>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.personName}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.instituteName}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.date}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.contactPhone}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.email}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.numberStudents}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.location}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.source}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.assignedTo}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.notes}}</i></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if specific_lead_and_feedback.0.recieved_feedback %}
        <div class="col-md-6">
            <h3
                style="margin-left: 230px !important; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Feedback</h3>
            <div class="col-sm-8 col-8 col-xs-12 no-padding" style="width: 200px;">
                <div class="features-table">
                    <ul>
                        <h1>Key</h1>
                        <li>Type Feedback</li>
                        <li>By</li>
                        <li>Lead</li>
                        <li>Time</li>
                        <li>Rating </li>

                        <li>Cource </li>
                        <li>institute Type </li>
                        <li>State </li>
                        <li>city </li>
                        <li>Is_wrongLead </li>

                        <li>NextCall User</li>
                        <li>NextCall Date</li>
                        <li>Demo</li>
                        <li>DemoDate</li>
                        <li>Feedback</li>
                        <li>FurtherCall</li>
                        <li>Price Quoted</li>
                        <li>Notes</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding" style="width: 300px;">
                <div class="features-table-free">
                    <ul>
                        <h1>Data</h1>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.typeFeedBack}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.by}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.lead}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.time}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.rating}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.Cource}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.instituteType}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.State}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.city}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.Is_wrongLead}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.nextCall}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.nextCallDate}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.demo}}</i></li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.demoDate}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.feedback}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.furtherCall}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.priceQuoted}}</i>
                        </li>
                        <li><i class="fortext">{{specific_lead_and_feedback.0.recieved_feedback.0.notes}}</i></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock body %}